.main {
  height: 100vh;
}

.type-section {
  padding: 1vh 30px 0 30px;
  position: relative;
}

.type-container {
  background-color: $orange;
  height: 86vh;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;

  font-family: exo-reg;
}

.text-block {
  width: 100%;
  height: 500px;
  background-color: $light-white;
  overflow: hidden;
  position: relative;
  font-size: 40px;
  display: flex;
  align-items: center;

  .string {
    font-size: 1em;
    position: absolute;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;

    p {
      margin: 10px;
      white-space: pre-wrap;
      letter-spacing: 2px;
    }
  }
}

.character {
  font-family: exo-med;
  background-color: yellow;
  // padding: 1px;
  // margin: 1px;
  // border-radius: 10px;
  width: 0.9em;
  text-align: center;
  // box-sizing: border-box;
}

.character[data-order="currentChar"] {
  background-color: rgb(86, 86, 225);
  animation: blink 0.5s ease-in-out infinite;
  // box-sizing: border-box;
}

@keyframes blink {
  0% {
    outline: 0px solid $orange;
  }
  50% {
    outline: 4px solid $orange;
  }
  100% {
    outline: 0px solid $orange;
  }
}

.character[data-state="correct"] {
  background-color: rgb(2, 139, 55);
}

.character[data-state="incorrect"] {
  background-color: rgb(222, 12, 12);
}

.stats-block {
  margin-top: 20px;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.timer,
.cpm,
.wpm,
.errors {
  background-color: $light-white;
  width: 180px;
  padding: 10px;
  font-size: 20px;
  font-family: exo-med;
  text-align: center;
  text-wrap: nowrap;
}

.timer {
}

.cpm {
}

.wpm {
}

.test-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-finish {
  width: 700px;
  // height: 500px;
  padding: 20px;
  background-color: $light-white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  text-align: center;
}

.modal-info {
  width: 100%;
  .test-content {
    font-size: 30px;
    width: 100%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.modal-controls {
}
