@font-face {
  font-family: "exo-thin";
  src: url(/assets/fonts/Exo_2/static/Exo2-Thin.ttf);
}

@font-face {
  font-family: "exo-reg";
  font-weight: 400;
  src: url(../../../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: "exo-med";
  src: url(/assets/fonts/Exo_2/static/Exo2-Medium.ttf);
}

@font-face {
  font-family: "exo-bold";
  font-weight: 900;
  src: url(../../../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}
