@media (max-width: 1000px) {
  .stats-block {
    width: fit-content;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 620px) {
  .header-container {
    flex-direction: column;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 25px;
  }
}
