@font-face {
  font-family: exo-thin;
  src: url(/assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: exo-reg;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: exo-med;
  src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: exo-bold;
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
