@font-face {
  font-family: exo-thin;
  src: url(/assets/fonts/Exo_2/static/Exo2-Thin.ttf);
}

@font-face {
  font-family: exo-reg;
  src: url(/assets/fonts/Exo_2/static/Exo2-Regular.ttf);
}

@font-face {
  font-family: exo-med;
  src: url(/assets/fonts/Exo_2/static/Exo2-Medium.ttf);
}

@font-face {
  font-family: exo-bold;
  src: url(/assets/fonts/Exo_2/static/Exo2-Bold.ttf);
}
